.DS_Store
*.out
*.out.*
*.exe
*.exe.*
*.class
*.class.*
*.o
*.o.*
*.so
*.so.*
*.so.*
*.a
*.a.*
*.dll
*.dll.*
*.lib
*.lib.*
*.obj
*.obj.*
*.pyc
*.pyo
*.pyd
*.pyo.*
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.tar.bz2
